<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42517928603-f9var4e6h9j8ds2loq5i1opas2m6rke3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42517928603-f9var4e6h9j8ds2loq5i1opas2m6rke3</string>
	<key>API_KEY</key>
	<string>AIzaSyAYYZcte42QvNP0oJvFS07hUl0g24JYl_k</string>
	<key>GCM_SENDER_ID</key>
	<string>42517928603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Grandschtien.GoodFood</string>
	<key>PROJECT_ID</key>
	<string>goodfood-c12ae</string>
	<key>STORAGE_BUCKET</key>
	<string>goodfood-c12ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42517928603:ios:a9183ac1262e1664e1443e</string>
</dict>
</plist>